.input {
  width: 100%;
  border: none;
  padding: 2px 4px;
  outline: none;
  
} 

.inputContainer {
  border: 2px solid var(--twix-color-input-border);
  border-radius: 4px;
  padding: 0;
  position: relative;
}

.inputContainer:hover {
  border-color: white;
}

.inputContainer:focus-within {
  border-color: var(--twix-color-input-focus);
}

.label {
  position: absolute;
  right: .5rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  font-size: 10px;
  color: var(--twix-color-input-inner-label);
  font-weight: 600;
}
