body {
  font-family: system-ui;
  min-height: 100vh;
  background: linear-gradient(140deg, rgb(165, 142, 251), rgb(233, 191, 248));
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

pre {
  max-width: 720px;
  margin: 20px;
  padding: 20px;
  border: 10px solid black;
}
