.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  column-gap: 10px;
  padding: 2px 4px;
  background-color: var(--twix-color-background);
}

.container > label {
  font-weight: 600;
}
