.container {
  background-color: var(--twix-color-background);
  border-radius: 5px;
}

.container .container {
  background-color: var(--twix-color-background-header);
}

.container .container .container {
  padding: 0;
  margin-left: 4px;
}

.title {
  padding: .5rem;
  background-color: var(--twix-color-background-header);
  display: flex;
  justify-content: space-between;
}

.title:last-child {
  border-radius: 0 0 5px 5px;
}
