:root {
  --twix-color-text: #bdbdbf;
  --twix-color-background: #222229;
  --twix-color-input-border: #3c3c43;

  --twix-color-background-dark: #1a1a1f;

  --twix-color-background-header: #26262e;
  --twix-color-text-header: #bebec0;

  --twix-color-input-focus: royalblue;
  --twix-color-input-hover: #bebec0;
}

.root {
  font-family: ui-monospace, SFMono-Regular, Menlo, 'Roboto Mono', monospace;
  font-size: 12px;
  color: var(--twix-color-text);
  background-color: var(--twix-color-background);

  position: absolute;
  top: 10px;
  right: 10px;
}

.root input[type='number'],
.root input[type='text'] {
  background: transparent;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  appearance: none;
  border: 1px solid var(--twix-color-input-border);
}
