:root {
  --twix-color-text: #bdbdbf;
  --twix-color-background: #222229;
  --twix-color-input-border: #3c3c43;

  --twix-color-background-dark: #1a1a1f;

  --twix-color-background-header: rgb(56, 56, 70);
  --twix-color-text-header: #bebec0;

  --twix-color-input-focus: royalblue;
  --twix-color-input-hover: #bebec0;

  --twix-color-input-inner-label: #7b7b7c;
}

.root {
  font-family: ui-monospace, SFMono-Regular, Menlo, 'Roboto Mono', monospace;
  font-size: 12px;
  color: var(--twix-color-text);

  position: absolute;
  top: 10px;
  right: 10px;

  width: 16rem;
  border-radius: 5px;
}

.root * {
  box-sizing: border-box;
}

.root input {
  background: transparent;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  appearance: none;
}
