body {
  font-family: system-ui;
  margin: 0;
  padding: 20px;
  background-color: #ecd5ff;
}

* {
  box-sizing: border-box;
}

.box {
  margin: 10px;
  height: 100px;
  width: 100px;
}

.box.selected {
  border: 1px solid #00b8ff;
}
