name: CI
on:
  push:
    paths-ignore:
      - 'demo/**'
      - 'docs/**'
      - '**.md'
      - '.changeset/**'
jobs:
  build:
    name: Build, lint, and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn --silent
          useLockFile: false

      - name: Check types
        run: yarn tsc

      - name: Build
        run: yarn build

      - name: Cypress run
        run: yarn ci:test
